@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --color-lwsGreen: #00d991;
  --color-deepDark: #17181c;
  --color-mediumDark: #1e1f24;
  --color-lighterDark: #27292f;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  body {
    @apply bg-deepDark font-inter text-gray-100;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  button:disabled {
    cursor: not-allowed;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .btn-primary {
    @apply bg-lighterDark hover:bg-deepDark flex items-center justify-center gap-2 rounded-md px-5 py-2.5 text-sm font-medium text-white lg:text-lg;
  }

  .icon-btn {
    @apply bg-lighterDark hover:bg-deepDark flex items-center justify-center rounded-md p-1.5 font-medium text-white;
  }

  .card {
    @apply bg-mediumDark rounded-md border border-[#3F3F3F] px-4 py-4 lg:px-7 lg:py-5;
  }

  .form-control {
    @apply mb-6 space-y-2.5;
  }

  .auth-label {
    @apply leading-[138%] lg:text-lg;
  }

  .auth-input {
    @apply bg-lighterDark w-full rounded-md border border-[#CCCCCC]/14 p-1.5 focus:outline-none lg:p-3;
  }

  .post-avater {
    @apply max-h-10 max-w-10 rounded-full lg:max-h-14.5 lg:max-w-14.5;
  }

  /* Action Modal */
  .action-modal-container {
    @apply bg-mediumDark absolute top-6 right-full min-w-50 divide-y divide-[#3F3F3F] rounded-md border border-[#3F3F3F] px-4 py-2 lg:px-7 lg:py-5 [&>button]:py-2;
  }

  .action-menu-item {
    @apply flex w-full items-center gap-2 text-gray-100 transition-all;
  }
}

@plugin "@tailwindcss/typography";
